*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Section header */

.container{
    /* border: 3px solid green; */
    margin-bottom: 50px;
    height: 100vh;
}

.c1{
    height: 38vh;
    background: #8F8767;

}

.search-bar img{
    align-items: center;
    width: 34px;
    height: 34px;
}

header{
    flex-direction: column;
}

.header-logo-title{
    padding-left: 40px;
    width: 100%;
    height: 81px;
}

.nom-marque{
    margin-right: 40%;
}
.nom-marque h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 61px;
    color: white;
}

.header-genre-search-basket{
    width: 100%;
    height: 100px;
}

.genre-nav{
    padding-left: 40px;
    width: 303px;
    height: 50px;
    font-size: 20px;
}

.search-basket{
    gap: 30px;
    height: 50px;
}

.search-bar{
    background: #E1D3A1;
    padding: 5px;
    width: 520px;
}

.search-bar input{
    height: 40px;
    width: 465px;
}

.basket{
    background: #E1D3A1;
   padding: 15px;
}

.nav-categorie{
    justify-content: space-around;
    width: 100%;
    height: 61px;
    background: rgba(0, 0, 0, 0.315);
}

.genre-nav a,
li{
    text-decoration: none;
    color: white;
    font-size: 20px;
    list-style: none;
}

.nav-categorie a,
li{
    text-decoration: none;
    color: white;
    font-size: 20px;
    list-style: none;
}

.nav-categorie li{
    display: inline;
    border-right: 2px solid #E1D3A1;
    padding-right: 40px;
}

h2{
    
    font-weight: 300;
    font-size: 33px;
}

#SW,
#ps,
#ts,
#sug{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;   
}

h4{
    font-weight: 300;
    font-size: 15px;
}
p{
    font-weight: 400;
    font-size: 15px;
}  
.boite{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pboite{
    width: 245px;
    height: 375px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.boite img{
    width: 245px;
    height: 268px;
}
.petite{
    width: 185px;
    height: 200px;
}
.titresug{
    text-align: center;
}

/* footer */

.BB{
    background: #E1D3A1;
    border: black 2px solid;
    width: 100%;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.beige{
    height: 41px;
    width: 223px;
    text-align: center;
    display: flex;
    align-items: center;
}
.border{
    border-right: black 2px solid;
}
footer{
    width: 100%;
    height: 312px;
    padding: 20px;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.liste{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li{
    font-size: 16px;
    font-weight: normal;
}

footer h5{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
}

.mail{
    height: 43px;
    width: 447px;
}
.env{
    width: 114px;
    height: 38px;
    text-align: center;
    background: black;
    color: white;
    border: white 2px solid;
    position: absolute;
    right: 0;
    top: 50px;
}
.formulaire{
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.paiement{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.icone{
    width: 61px;
    height: 40px;
}
